html, body{
    height: 100%;
}

body{
    padding-top: 60px;
}

body#profile img#profile-image {
    -webkit-box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
}

.huge{
    font-size: 40px;
}

.tag-boxes .panel-primary{
    border: 1px solid #2FA4E7;
}

.tag-boxes .panel-red{
    color: white;
    background: #d9534f;
}

.tag-boxes .panel-red a{
    color: #d9534f;
}

.tag-boxes .panel-red a:hover{
    color: #b52b27;
}

.tag-boxes .panel-yellow{
    color: white;
    background: #f0ad4e;
}

.tag-boxes .panel-yellow a{
    color: #f0ad4e;
}

.tag-boxes .panel-yellow a:hover{
    color: #df8a13;
}

.tag-boxes .panel-green{
    color: white;
    background: #5cb85c;
}

.tag-boxes .panel-green a{
    color: #5cb85c;
}

.tag-boxes .panel-green a:hover{
    color: #3d8b3d;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

.body-section{
    padding-bottom: 70px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #2FA4E7;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}

footer a{
    color: white;
    font-weight: bold;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

/*--css for nav-menu page--*/
form {
    margin-left: -20px;
}
.manage_menu {
    background-color: aliceblue;
    padding: 10px;
}
.bs-example{
    margin: 10px;
}

.page-list {
    margin-top: 10px;
    margin-left: -15px;
}
#add_menu {
    margin-top: 5px;
}
.menu_management {
    margin-top: 10px;
    border: 0.5px solid lightgray;
    height: auto;
    margin-left: -20px;
}

.menu_top{
    background-color: aliceblue;
    height: 20%;
    border: 0.5px solid lightgray;
}
.menu_body{
    height: 60%;
    background-color: aliceblue;
    border: 0.5px solid lightgray;
}

#page_list {
    border: 0.5px solid lightgray;   
}


#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  background-color: azure;
  padding : 5px 15px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
input#page_title{
    border-width: 0;    
}

.menu-item-depth-1 {
    margin-left: 30px;
}
.menu-item-depth-2 {
    margin-left: 60px;
}

.col-md-2 {
    margin-left: -15px;
    margin-top: -30px;
}
.col-md-10 {
    margin-left: -5px;
    margin-top: -20px;
}